
.App {
  text-align: center;
  height: 100%;
  color: #F2F2F2 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom CSS */

/* Landing */
html, body {
  font-family: 'Fira Sans', sans-serif !important;
  height: 100%;
  margin: 0;
  background-color: #65CCB8;

}

#root { height: 100%; }
.page-header-landing { 
  height: 100%; 
  background-color: #182628;
}

.landing-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.landing-logo img {
  height: 150px;
}

.landing-line-container {
  position: fixed;
  width: 20%;
  left: 70%;
  right: 10%
}

.login-button{
  margin-top: 15px;
  margin-right: 10px;
  background-color: #182628 !important;
  color: #F2F2F2 !important;
}

/* Login */
.login-card {
  position: fixed;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card-register {
  padding: 20px;
  background-color: #57BA98 !important;
  color: #F2F2F2 !important;
}

.register-form > button {
  margin-right: 10px;
  background-color: rgb(59,148,94, 0.5) !important;
  border: rgb(59,148,94) !important;
}

.register-form > button:hover {
  background-color: rgb(59,148,94) !important;
}


/* Home Page */
.home-page {
  height: 100%;
  background-color: #65CCB8 !important;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #182628; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding-left: 25%;
  text-decoration: none !important;
  font-size: 20px;
  text-align: left;
  color: rgb(59,148,94);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: rgb(59,148,94, 0.5) !important;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  padding-left: 10%;
  position: absolute;
  top: 0;
  font-size: 43px;
  margin-right: 60px;
  color: #F2F2F2;
}
.closebtn:hover {
  text-decoration: none;
  color: rgb(242,242,242,0.5) !important;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: #65CCB8;
  color: rgb(242,242,242);
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  display: inline-block;
}
.openbtn:hover {
  color: rgb(242,242,242,0.5);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* Header of Main Page */
.header-logo {
  background-color: #65CCB8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo-green {
  height: 150px;
  margin-top: -45px;
}

/* Carousel */

.festivals-carousel {
  width: 65%;
  margin-left:17.5%;
  margin-right:17.5%;
}

/* View One Festival Page */
.festival {
  height: 100%;
  background-color: #65CCB8 !important;
}

.view-piece {
  background-color: #65CCB8 !important;
}

.piece-information {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 50px;
  border: medium solid #F2F2F2;
}

/* Artists Page */
.artists {
  background-color: #65CCB8;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.hexagon {
  width: 500px;
  height: 250px;
  background-color: red;
  margin-bottom: 30px;
  transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  flex-basis: 360px;
}

.hexagon-inside {
  width: 100%;
  height: 100%;
  background: green;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
}

.hexagon-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 60%;
  padding-bottom: 20px;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  visibility: visible;
  filter: grayscale(100%);
  opacity: 0.85;
  font-weight: bold;
  text-shadow: 0.5px 0.5px #333;
}

.hexagon-image:hover {
  cursor: pointer;
  opacity: 1;
  filter: none;
  transition: 1s ease;
  color: rgb(242,242,242,0);
  text-shadow: 2px 2px rgb(242,242,242,0);
}


.artist-text {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20%;
  align-items: center;
}

/* Settings Page  */

.settings {
  height: 100%;
  background-color: #65CCB8;
}

.settings-form {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(59,148,94, 0.5);
  padding: 75px;
}

.settings-form > form {
  text-align: left;
}

.settings-form > .form-control {
  background-color: rgb(59,148,94) !important;
}

button.btn-secondary {
  margin-right: 10px;
  background-color: rgb(59,148,94, 0.5) !important;
  border: rgb(59,148,94) !important;
}

button.btn-secondary:hover {
  background-color: rgb(59,148,94) !important;
}

.settings-form > input {
  background-color: rgb(59,148,94, 0.5);
  border-color: rgb(59,148,94);
}

.settings-register{
  
}

/* Upcoming Festivals Page  */

.upcoming-festivals {
  height: 100%;
  background-color: #65CCB8;
  display: flex;
  flex-wrap: wrap;
}

.upcoming-festival-item {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  padding: 20px;
}

.upcoming-festival-cover-photo {
  width: 60% !important;
  padding: 20px;
  
}

.upcoming-festival-description {
  width: 40% !important;
  padding: 20px;
}

.upcoming-festival-cover-photo > img {
  max-width: 600px;
}

.festival-text {
  border: medium solid #F2F2F2;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 30px;
  background-color: rgb(242,242,242,0.1);
}

/* View One Artist  */


.view-artist {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
}

.artist-photo {
  /* display: flex; */
}

.artist-info {
  margin-left: 100px;
  padding: 20px;
  height: 500px;
  width: 100%;
  border: medium solid #F2F2F2;
  background-color: rgb(242,242,242,0.1);
  align-items: center;
}

.artist-table {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.artist-table-row:hover {
  cursor: pointer;
  color: #3B945E;
  text-emphasis: bold;
}